@{
    Layout = null;
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Login - PROIN</title>

    <link href="~/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/css/style.css" rel="stylesheet" />
    <link href="~/assets/css/colors/green-dark.css" id="theme" rel="stylesheet" />
</head>
<body class="fix-header card-no-border">

    <section id="wrapper" class="error-page">
        <div class="error-box">
            <div class="error-body text-center">
                <h1>404</h1>
                <h3 class="text-uppercase">Página no encontrada</h3>
                <p class="text-muted m-t-30 m-b-30">EL RECURSO QUE INTENTA ENCONTRAR NO EXISTE </p>

                <a href="@Url.Action("Index", "/Home")" class="btn btn-info btn-rounded waves-effect waves-light m-b-40">Regresar a inicio</a>
            </div>
        </div>
    </section>

    <script src="~/assets/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="~/assets/plugins/bootstrap/js/popper.min.js"></script>
    <script src="~/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!--Wave Effects -->
    <script src="~/assets/js/waves.js"></script>
</body>
