@model dynamic
@{
    ViewData["Title"] = "Inicio";
}

<div class="bd-example" style="background-color: #FFF; margin-top: 30px;">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" style="text-align: center;">
            <b style="color: #004A92; font-size: 20px;">Bienvenido @Model.nombres @Model.apellidos</b>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">&nbsp;</div>
    </div>
</div>