@model dynamic
@{
    ViewData["Title"] = "Inicio";
}

<div class="bd-example">
    <div id="demo" class="carousel slide" data-ride="carousel">
        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
            <li data-target="#demo" data-slide-to="3"></li>
        </ul>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="img_carousel img_carousel001"></div>
                @*<img src="" alt="Los Angeles" width="1100" height="500" style="background-image: url('~/images/s001.jpg')">*@
                <div class="carousel-caption">
                    <h3>@*TÍTULO 01*@</h3>
                    <p>@*Descripción*@</p>
                </div>
            </div>
            <div class="carousel-item">
                <div class="img_carousel img_carousel002"></div>
                <div class="carousel-caption">
                    <h3>@*TÍTULO 02*@</h3>
                    <p>@*Descripción*@</p>
                </div>
            </div>
            <div class="carousel-item">
                <div class="img_carousel img_carousel003"></div>
                <div class="carousel-caption">
                    <h3>@*TÍTULO 03*@</h3>
                    <p>@*Descripción*@</p>
                </div>
            </div>
            <div class="carousel-item">
                <div class="img_carousel img_carousel004"></div>
                <div class="carousel-caption">
                    <h3>@*TÍTULO 04*@</h3>
                    <p>@*Descripción*@</p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
</div>